.recipe-list-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  
}


/* Loading text */
.loader {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}